{% extends 'layout.html' %}
{% block header %}Languages{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<p>Please add and configure the languages you wish to use this site for.</p>
<button onclick="toggleVisibility('outer_dialog')" id="add">Add Language</button>
<div id="outer_dialog" name="dialog">
    <label for="lang_selector">
        Which language do you want to add?
    </label>
    <select id="lang_selector" name="dialog_select" autocomplete="off">
        <option value="none" hidden selected= >----</option>
    {% for lang in langs %}
        <option value="{{lang}}">{{lang}}</option>    
    {% endfor %}
    </select>
    
    <ul id="inner_dialog">
        <li>
            <label for="vocab_proficiency" id="vocab_label"></label>
            <select id="vocab_proficiency" name="dialog_select" autocomplete="off">
                <option value="none" hidden disabled selected >----</option>
                {% for n in range(0,11) %}
                    <option value="{{n}}">{{n}}</option>
                {% endfor %}
            </select>
        </li>  
        <li>  
            <p>Some questions about how familiar you are with inflections (<a href='https://en.wikipedia.org/wiki/Inflection'>inflections</a> are modifications of a word such as conjugation, plural etc.):</p>    
            <ul id="grammar_proficiency">
            </ul>
        </li>
    </ul>
    <div>
            <button style="font-size: 11px;"onclick='cancel()'>Cancel</button>
            <button style="font-size: 11px;" onclick='add()'>Add</button>
    </div>
 </div>
   
</div>

<h4>My Languages</h4>
{% for language in vocab %}
<h5>{{language}}</h5>
<ul>
    <li>Vocabulary Proficiency : {{vocab[language]}}</li>
    <li><a href='/learnmore'>Stem Recognition</a> of</li>
    <ul>
        {% for item in grammar[language] %} 
        <li>{{item}} : {{grammar[language][item]}}</li>
        {% endfor %}
    </ul>
</ul>
{% endfor %}
<script>
    // document.getElementById("lang_selector").value = "none";

    var proficiency = document.getElementById("inner_dialog")
    proficiency.style.display = "none"

  

    var selector = document.getElementById("lang_selector");

    selector.addEventListener("change", function() {
        var selected = selector.value;
        console.log(selected);
        var langs = {{ langs|tojson }};
        console.log(langs);
        console.log(langs[selected]);

        var vocab_label = document.getElementById("vocab_label")
        vocab_label.innerHTML="How good is your  <a href='https://en.wiktionary.org/wiki/passive_vocabulary'>passive vocabulary</a> in " + selected + " on a scale from 0 to 10 (0 means you don't understand a word, 10 means you're native)?"
        proficiency.style.display = "block"  

        let grammar = document.getElementById("grammar_proficiency");
        grammar.innerHTML = '';
        
        
        for (let index in langs[selected]) {
            let part_speech = langs[selected][index];
            let element = document.createElement("LI");
            let text = document.createTextNode(part_speech);

            let yes_no = document.createElement("select")
            yes_no.name = "dialog_select"
            let nothing = document.createElement("option")
            nothing.text = "-----"
            nothing.setAttribute("hidden", "selected", "disabled")
            nothing.value ="none"
            let yes = document.createElement("option")
            let no = document.createElement("option")
            yes.text = "Yes"
            no.text = "No"
            yes_no.appendChild(nothing)
            yes_no.appendChild(yes)
            yes_no.appendChild(no)
            element.appendChild(yes_no)
            element.appendChild(text);
            grammar.append(element);
        
        }

    

        //Four questions about how familiar you are with inflections ( <a href='https://en.wikipedia.org/wiki/Inflection'>inflections</a> are modifications of a word such as conjugation, plural etc.:
        //1. When you see any inflection of a noun, do you always associate it with its root form? E.g. rooms -> room, mice -> mouse     
        

        // opt.value = 1;
        // console.log(langs);
        // console.log(typeof(langs))
        // opt.innerHTML = langs['English'][0];
        // console.log(selector.dataset.test);

        // document.getElementById("grammar_proficiency").appendChild(opt);
        // for (var i = 0; i <= (langs[selected].length); i++){
        //     var opt = document.createElement('option');
        //     opt.value = i;
        //     opt.innerHTML = i;
        //     document.getElementById("grammar_proficiency").appendChild(opt);
        // }
    });

    

    
</script> 
{% endblock %}