{% extends 'layout.html' %}
{% block header %}Media{% endblock %}
{% block head %}
{{ super() }}
<style>
    input[type=checkbox] {
    transform: scale(0.75);
    }
    div {
        font-size: 15px;
    }
</style>



{% endblock %}
{% block content %}
    <button id="add" onclick="toggleVisibility()">+ Add Media</button>
    <div id="dialog" style="margin-bottom:30px;">
        <form id="form" action="/new_media" method="post"> 
            <div>   
                <label>Medium</label>
                <select>
                        <option value="Movie">Movie</option>
                        <option value="Book">Book</option>
                        <option value="Song">Song</option>
                </select>
            </div>
            <div>
                <label>Title</label>  
                <input type="text" name="title">
             </div>
             <div>   
                <label>Language</label>
                <input type="text" name="language">
            </div>
            <div>
                <label>Upload File</label> 
                <input type="file" name="text_file">
            </div>
                <input type="submit" value="Submit">
                
            </form>
            <button onclick="(evt) => cancel(evt)">cancel</button>

        </div>
    <h4>My Media Files</h4>
        {% for media_type in media%}
        <div id="{{media_type}}" class="mediatype" style="border:1px solid black;">{{media_type}}           
            <ul style="display:none; padding-left:20px; margin-top:0px;">
                {% for lang in media[media_type] %}
                    <li class="mediatype">{{lang}}
                        <ul style="display:block; padding-left:20px; margin-top:0px;">
                        {% for item in media[media_type][lang] %}
                            <li>{{item}}
                                <div><a style="font-size:12px;">Words</a></div>
                                {% if verbs[media_type] %}
                                <div style="font-size:12px;"><input type="checkbox" style="  vertical-align: bottom;
                                    position: relative;">{{verbs[media_type]}}</input></div>
                                {% endif %}
                            </li>

                        {%endfor%}
                        </ul> 
                    </li>
                                      
                {%endfor%}
            </ul>
        </div>
        {%endfor%}

        <script>
                var coll = document.getElementsByClassName("mediatype");
                var i;
                
                for (i = 0; i < coll.length; i++) {
                  coll[i].addEventListener("click", function(event) {
                      if (event.target.id != this.id) {
                          return;
                      }
                    console.log
                    this.classList.toggle("active");
                    var content = this.childNodes[1];
                    console.log("this",this);
                    console.log(content);
                    if (content.style.display === "block") {
                      content.style.display = "none";
                    } else {
                      content.style.display = "block";
                    } 
                  });
                }
    
                var book = document.getElementById("books");
                var children = book.childNodes;
                console.log("book",children);
    
        </script>





    {%endblock%}